<!DOCTYPE html>
<html ng-app="store">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title></title>
  </head>
  <body class="offset-md-3 col-md-6 mt-3" ng-controller="StoreController as store">
    <header>
     <h1 class="text-center">Flatlander Crafted Gems</h1>
     <h3 class="text-center">– an Angular store –</h3>
   </header>
      <div class="card mt-4" ng-repeat="product in store.product">
          <h3  class="card-title m-3">
            {{product.name}}
            <em class="float-right"> {{product.price | currency }} </em>
          </h3>
          <section ng-show="product.images.length">
            <img class="card-img-top" ng-src="{{product.images[0]}}" >
            <ul class="list-inline thumbs">
              <li ng-repeat="image in product.images">
                <img class="img-thumbnail float-left" width="150px" ng-src="{{image}}" />
              </li>
            </ul>
          </section>
          <section ng-controller="PanelController as panel">
            <ul class="nav nav-tabs">
              <li class="nav-item" ng-class="{ active: panel.isSelected(1)}">
                <a class="nav-link" href="#" ng-click="panel.selectTab(1)">Description</a>
              </li>
              <li class="nav-item" ng-class="{ active: panel.isSelected(2)}">
                <a class="nav-link" href="#" ng-click="panel.selectTab(2)">Specifications</a>
              </li>
              <li class="nav-item" ng-class="{ active: panel.isSelected(3)}">
                <a class="nav-link" href="#" ng-click="panel.selectTab(3)">Reviews</a>
              </li>
            </ul>
            <div class="card-body" ng-show="panel.isSelected(1)">
              <h5>Description</h5>
              <p class="card-text">{{product.description}}</p>
            </div>
            <div class="card-body" ng-show="panel.isSelected(2)">
              <h5>Specifications</h5>
              <blockquote class="card-text">None yet</blockquote>
            </div>
            <div class="card-body" ng-show="panel.isSelected(3)">
              <h5>Reviews</h5>
              <blockquote class="card-text" ng-repeat="review in product.reviews">
                <b>Stars: {{review.stars}}</b>
                {{review.body}}
                <cite>by: {{review.author}}</cite>
              </blockquote>
              <form name="reviewForm">
                <h5>Submit a Review</h5>
                <blockquote ng-repeat="review in product.reviews">
                  <b>Stars: {{review.stars}}</b>
                  {{review.body}}
                  <cite>by: {{review.author}}</cite>
                </blockquote>
                <select class="form-control mt-2" ng-model="review.stars">
                  <option value="1">1 star</option>
                  <option value="2">2 stars</option>
                  <option value="3">3 stars</option>
                  <option value="4">4 stars</option>
                  <option value="5">5 stars</option>
                </select>
                <textarea class="form-control mt-2" placeholder="Write a short review..." ng-model="review.body" name="name" rows="8" cols="80"></textarea>
                <input class="form-control mt-2" placeholder="someone@email.com" ng-model="review.author" type="email">
                <input class="btn btn-info mt-2" type="submit" value="Submit" >
              </form>
            </div>
          </section>
          <div>
            <button class="btn btn-info m-3" ng-show="product.canPurchase"> Add to Cart</button>
          </div>
      </div>

  </body>
</html>
